@{
    ViewBag.Title = "About us";
}
<br />
<br />
<br />
<h4>@ViewBag.Title</h4>


<p>
    Kalanandam Academy performing art of Classical dance, a dance institution started in the year 2016 by Sharmila Podder Bauri in Durgapur City of West Bengal, with an aim to provide quality dance training and to propagate the art of Indian classical dance amongst all. Kalanandam is striving to maintain the tradition of Bharatanatyam in its classical texture and style. Sharmila Podder Bauri strongly believes that new dance forms do evolve over time, but they develop from a traditional classical foundation. Being an innovative artist, Sharmila Podder Bauri is using her imagination to choreograph new themes based production by Kalanandam students and it is always have been a blend of modern as well as the traditional culture of India.
</p>
