@{
    ViewBag.Title = "Class Schedule Information";
}
<br />
<br />
<br />
<h4>@ViewBag.Title</h4>

<p>
    <br />
    <h5>Working person</h5>
    <ul>
        <li>Sunday morning 10.30 AM to 12.30 PM</li>
        <li>Sunday evening 5.30 PM to 7.00 PM</li>
    </ul>
    <h5>Beginner</h5>
    Sunday morning 10.30 to 12.30
    <ul>
        <li>Sunday evening 4.15 PM to 5.30 PM</li>
        <li>Monday evening 4.15 PM to 5.30 PM</li>
        <li>Monday evening 5.30 PM to 7.00 PM</li>
    </ul>
    <h5>Western</h5>
    <ul>
        <li>Tuesday 4.15 PM to 5.30 PM</li>
    </ul>
    <h5>Bharatnatyam(Advance student)</h5>
    <ul>
        <li>Tuesday evening 4.15 PM to 5.30 PM</li>
        <li>Friday evening 5.00 PM to 7.00 PM</li>
    </ul>
    <h5>Classical(Jr. group)</h5>
    <ul>
        <li>Saturday evening 5.00 PM to 6.15 PM</li>
    </ul>
    <h5>Classical(Sr. group)</h5>
    <ul>
        <li>Saturday evening 6.15 PM to 7.30 PM</li>
    </ul>
</p>
