@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<h4>@ViewBag.Title</h4>


<address>
    Address: 3/3, Bhagat Singh Marg, Hatora, C-Zone, Durgapur, West Bengal 713214, India
</address>

<address>
    <strong>Phone:</strong>   +91 76027 07780<br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>