@{
    ViewBag.Title = "Home";
}

<div class="row" style="padding-top:30px;">

    <div class="col-md-4">
        <div class="modal-header"><b>Little idea</b></div>
        <p class="text-info">
            The aim of Kalanandam Dance Academy is to develop  the sensitivity of the students towards the creative dance. Articulate innovative phisical and verbal  communication through visual art of dance. Keeping in mind the power of the old classical dance Bharatnatyam which is among the six styels of dance) we are here to spread it all over.
        </p>
    </div>
    <div class="col-md-4">
        <div id="slideshow" class="jumbotron">
            <div>
                <img src="~/img/1.jpg" />
            </div>
            <div>
                <img src="~/img/2.jpg" />
            </div>
            <div>
                <img src="~/img/3.jpg" />
            </div>
            <div>
                <img src="~/img/4.jpg" />
            </div>
            <div>
                <img src="~/img/5.jpg" />
            </div>
            <div>
                <img src="~/img/6.jpg" />
            </div>
            <div>
                <img src="~/img/7.jpg" />
            </div>
            <div>
                <img src="~/img/8.jpg" />
            </div>
        </div>
        <div class="modal-header"><b>Current Events</b></div>
        <p class="text-info">Five days workshop of kalaripayattu. Indian martial arts cum dance. Date will be declare soon</p>
    </div>
    <div class="col-md-4">
        <div class="modal-header"><b>Information about the teacher</b></div>
        <p class="text-info">Sharmila Podder Bauri is a talented and graceful Indian classical dancer, renowned for her Bharatnatyam dancing style. It was her childhood dream to worship the art of dance. She started her training in Bharatnatyam at the age of five. She learnt the said dance forms from renowned personalities like  Dr. Guru Smt. Thankamani Kutty and Guru Khagendranath Barman. Sharmila also have been a troupe member of ”Dhiman Shankar and Troupe” and “Mantu Debnath and Troupe”. She has given many mesmerizing performance in prestigious places like “Puri Beach festival”, ”Haldia festival”, “Malda festival”, ”Konarak Dance festival”, ”Uday Shankar Dance festival”, ”Vaizag Dance festival”, ”Rann Utsav, Gujrat” and many more. Beside a performer, she is also a good choreographer and a teacher spreading the classical tradition with the touch of her creativity amongst her students. </p>
    </div>
</div>