@{
    ViewBag.Title = "Home";
}

<div class="row" style="padding-top:30px;">
    <div class="col-md-4">
        <div class="modal-header"><b>Little idea</b></div>
        <p class="text-info">
            Aim of Kalanandam Dance Academy
        </p>
    </div>
    <div class="col-md-4">
        <div id="slideshow" class="jumbotron">
            <div>
                <img src="~/img/1.jpg" />
            </div>
            <div>
                <img src="~/img/2.jpg" />
            </div>
            <div>
                <img src="~/img/3.jpg" />
            </div>
            <div>
                <img src="~/img/4.jpg" />
            </div>
            <div>
                <img src="~/img/5.jpg" />
            </div>
            <div>
                <img src="~/img/6.jpg" />
            </div>
            <div>
                <img src="~/img/7.jpg" />
            </div>
            <div>
                <img src="~/img/8.jpg" />
            </div>
            <div>
                <img src="~/img/9.jpg" />
            </div>
        </div>
        <div class="modal-header"><b>Current Events</b></div>
        <p class="text-info">Should have latest events</p>
    </div>
    <div class="col-md-4">
        <div class="modal-header"><b>Information about the teacher</b></div>
        <p class="text-info">Something about you</p>
    </div>
</div>