@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <ul id="ss">
        <li class="active">
            <img src="http://leemark.github.io/better-simple-slideshow/demo/img/colorado-colors.jpg">
        </li>
        <li>
            <img src="http://leemark.github.io/better-simple-slideshow/demo/img/monte-vista.jpg">
        </li>
        <li class="last">
            <img src="http://leemark.github.io/better-simple-slideshow/demo/img/colorado.jpg">
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Little idea</h2>
        <p>
            Aim of Kalanandam Dance Academy
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Current Events
        </h2>
        <p>Should have latest events</p>
    </div>
    <div class="col-md-4">
        <h2>
            Information about the teacher
        </h2>
        <p>Something about you</p>
    </div>
</div>